html, body {
	margin: 0 !important;
	padding: 0 !important;
}
h1 {
	font-family: 'Snap ITC', 'Arial Black', Arial; 
	font-size: 40px; 
	color: pink; text-align: center;
}
header { 
	background: blue; 
}
nav {background: green;}
main {
	background: black;
	display: flex;
}
section {
	background: orange; 				
	width: 75%;
}
aside {
	background: brown;
	width: 25%;
}
footer {background: gray;}
.common {
	overflow: hidden;
}
.commonColor {
	background: green;
}			
figure {
	width: 100%;
	height: auto;
	margin: 0;
}
figure img {
	width: 100%;
}
#floatMenu {
	position: fixed;
	top:50%;
	width: 25vh;
	padding-right: 5vh;
	left:  -25vh;
	transition: left 2s;
}
#floatMenu:hover {
	left: 0;
}
#floatMenu ul {
	list-style-type: none;
	overflow: hidden;
}